table {
  border: 1px solid black;
  font-size: large;
  font-family: sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th,
caption {
  border: 1.2px solid #000;
}
caption {
  padding-top: 2px;
  font-weight: 700;
  border-bottom: none;
}
thead {
  font-size: 16px;
}
th {
  padding: 3px;
}
td {
  font-size: 16px;
  padding: 2px 3px;
}
.weekend {
  color: red;
}
