/* BASE*/

.best-product {
  margin-bottom: calc(48px + 28px);
}

/* TITLE AND DESC */

.best-product__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  margin-bottom: 56px;
}

.best-product__title {
  font-family: "ReadexPro", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  text-align: center;
  color: #000;
}

.best-product__desc {
  font-family: "ReadexPro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  text-align: center;
  color: #000;
}

/* ARTICLES */

.best-card-wrapper {
  display: flex;
  gap: 28px;
}

@media (width <= 576px) {
  .best-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.best-card {
  width: 413px;
  /* 453px to 400px (vp 1200px to 768px) */
  height: clamp(25rem, 19.111rem + 12.27vw, 28.313rem);
  border-radius: 16px;
  background: #f8f9fa;
  transition: background 0.8s;
}

@media (any-hover: hover) {
  .best-card:hover {
    background: #e8e9ea;
  }
}

@media (width <= 576px) {
  .best-card {
    /* 540px to 350px (vp 576px to 375px) */
    width: clamp(21.875rem, -0.28rem + 94.53vw, 33.75rem);
  }
}

.best-card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.best-card__desc {
  font-family: "ReadexPro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  text-align: center;
  color: #000;
  padding-top: 41px;
}

@media (width <= 768px) {
  .best-card__desc {
    /* 13px to 10px (vp 768px to 576px) */
    font-size: clamp(0.625rem, 0.063rem + 1.56vw, 0.813rem);
  }
}

@media (width <= 576px) {
  .best-card__desc {
    font-size: 13px;
  }
}

.best-card__title {
  font-family: "ReadexPro", sans-serif;
  font-weight: 400;
  /* 28px to 22px (vp 1200px to 768px) */
  font-size: clamp(1.375rem, 0.708rem + 1.39vw, 1.75rem);
  line-height: 125%;
  text-align: center;
  color: #000;
  padding-bottom: 30px;
}

@media (width <= 768px) {
  .best-card__title {
    /* 22px to 16px (vp 768px tp 576px) */
    font-size: clamp(1rem, -0.125rem + 3.13vw, 1.375rem);
  }
}

@media (width <= 576px) {
  .best-card__title {
    /* 22px to 16px (vp 576px tp 375px) */
    font-size: clamp(1.375rem, 0.675rem + 2.99vw, 1.75rem);
    padding-top: 10px;
  }
}

.best-card__button {
  font-family: "Inter", sans-serif;
  border: 1px solid #000;
  border-radius: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  padding-inline: 63px;
  padding-block: 14px;
  transition: background 0.4s;
}

@media (width <= 768px) {
  .best-card__button {
    /* 18px to 16px (vp 768px to 576px) */
    font-size: clamp(1rem, 0.625rem + 1.04vw, 1.125rem);
    /* 63px to 33px (vp 768px to 576px) */
    padding-inline: clamp(2.063rem, -3.563rem + 15.63vw, 3.938rem);
    /* 14px to 10px (vp 768px to 576px) */
    padding-block: clamp(0.625rem, -0.125rem + 2.08vw, 0.875rem);
  }
}

.best-card__footer {
  display: flex;
  justify-content: center;
  /* 250px to 200px (vp 1200px to 768px) */
  height: clamp(12.5rem, 6.944rem + 11.57vw, 15.625rem);
}

.best-card__first-img {
  /* 259px to 200px (vp 1200px to 768px) */
  width: clamp(12.5rem, 5.944rem + 13.66vw, 16.188rem);
  height: 100%;
  object-fit: contain;
  object-position: top top;
}

.best-card__second-img {
  /* 294px to 200px (vp 1200px to 768px) */
  width: clamp(12.5rem, 2.056rem + 21.76vw, 18.375rem);
  height: 100%;
  object-fit: contain;
  object-position: top top;
}

.best-card__third-img {
  /* 355px to 200px (vp 1200px to 768px) */
  width: clamp(18.75rem, 12.639rem + 12.73vw, 22.188rem);
  height: 100%;
  object-fit: contain;
  object-position: top top;
}
