/* BASE */

.product {
  margin-bottom: calc(28px + 47px);
}

/* TITLE */

.product__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 31px;
}

.product__title {
  font-family: "ReadexPro", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 125%;
  text-align: center;
  color: #000;
}

.product__description {
  font-family: "ReadexPro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 129%;
  text-align: center;
  color: #000;
}

/* ARTICLES */

.product__article-grid {
  display: flex;
  grid-template-columns: 
  /* 302px to 202px (vp 1330px to 768px) */
    clamp(12.625rem, 4.084rem + 17.79vw, 18.875rem)
    clamp(12.625rem, 4.084rem + 17.79vw, 18.875rem)
    clamp(12.625rem, 4.084rem + 17.79vw, 18.875rem)
    clamp(12.625rem, 4.084rem + 17.79vw, 18.875rem);
  grid-template-rows: 
  /* 396px to 300px (1330px to 768px) */ clamp(
    18.75rem,
    10.551rem + 17.08vw,
    24.75rem
  );
  column-gap: 28px;
}

@media (width <= 768px) {
  .product__article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}

@media (width <= 576px) {
  .product__article-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
    justify-items: center;
  }
}

.product__article {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (width <= 576px) {
  .product__article {
    width: 302px;
    height: 100%;
  }
}

.article__img-wrapper {
  display: flex;
  justify-content: center;
  /* 28px to 0px (vp 1330px to 768px) */
  padding: clamp(0rem, -2.391rem + 4.98vw, 1.75rem);
  overflow: hidden;
}

.article__info-wrapper {
  display: flex;
  flex-direction: column;
}

@media (width <= 576px) {
  .article__info-wrapper {
    align-items: center;
  }
}

.article__title {
  font-family: "ReadexPro", sans-serif;
  font-weight: 400;
  /* 22px to 14px (vp 1330px to 768px) */
  font-size: clamp(0.875rem, 0.192rem + 1.42vw, 1.375rem);
  line-height: 125%;
  color: #000;
  padding-top: 9px;
  padding-bottom: 9px;
}

.article__description-sm {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #4b4b4b;
  padding-bottom: 26px;
}

@media (width <= 853px) {
  .article__description-sm {
    padding-bottom: 44px;
  }
}

@media (width <= 576px) {
  .article__description-sm {
    padding-bottom: 14px;
    width: 200px;
  }
}

.article__description-lg {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #4b4b4b;
  padding-bottom: 9px;
}

@media (width <= 1030px) {
  .article__description-lg {
    max-width: 220px;
  }
}

@media (width <= 576px) {
  .article__description-lg {
    width: 200px;
  }
}

.article__price {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
}
