body {
  font-family: sans-serif;
}
form {
  display: inline-block;
  width: 480px;
}
.fieldset1 {
  border: 1.3px solid #000;
  border-radius: 8px;
  padding-left: 20px;
}
.titleh2 {
  margin-top: 10px;
  margin-bottom: 0;
}
.titleh3 {
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 5px;
}
.input1 {
  border-width: 1.5px;
  font-size: 110%;
  padding-left: 15px;
  border-radius: 8px;
  width: 330px;
  height: 30px;
}
.message {
  display: block;
  resize: vertical;
  border-width: 1.5px;
  font-size: 140%;
  padding-left: 15px;
  border-radius: 8px;
  width: 330px;
  height: 50px;
}
.checkbox {
  margin-top: 15px;
}
.bottomtext {
  display: block;
}
.button {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 10px;
  width: 100px;
  height: 28px;
  border: 0px solid #000;
  border-radius: 5px;
}
