body {
  font-family: sans-serif;
}
.form {
  border: 1.2px solid #000;
  max-width: 340px;
  min-height: 440px;
  border-radius: 6px;
}
.fieldset {
  border: none;
  margin: 0;
  padding-left: 15px;
  padding-bottom: 0;
}
.fieldset1 {
  border: none;
  margin: 0;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 0;
}
.title {
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 0;
}
.label {
  display: block;
  padding-top: 7px;
  padding-bottom: 3px;
}
.input {
  outline: none;
  font-size: small;
  margin-top: 3px;
  padding-left: 8px;
  border: 1.2px solid #000;
  border-radius: 5px;
  width: 230px;
  height: 24px;
}
.textarea {
  outline: none;
  font-size: larger;
  padding-left: 8px;
  border: 1.2px solid #000;
  border-radius: 5px;
  width: 230px;
  max-height: 230px;
  min-height: 45px;
  resize: vertical;
}
.checkbox {
  margin: 0;
}
.button {
  cursor: pointer;
  border: none;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100px;
  height: 24px;
}
