:root {
  --font-family: "Inter", sans-serif;
  --second-family: "ReadexPro", sans-serif;

  /* colors */
  --first-color: #000000;
  --second-color: #ffffff;
  --third-color: #8d8d8d;
  --fourth-color: #dce5e2;
  --fifth-color: #c5c5c5;
  --sixth-color: #f8f9fa;

  /* container */
  --container-width: 1294px;
  --container-padding: 10px;
}
